# Sui Network
SUI_NETWORK=testnet
PACKAGE_ID=0x2475f6cb526ee358db80fa3addc01647f4f016e537a4edbeb8cb24a07364a49e

# Agent Wallet
AGENT_PRIVATE_KEY=suiprivkey1...

# Sponsor Wallet (pays gas for agent transactions)
SPONSOR_PRIVATE_KEY=suiprivkey1...
